body {
    display: flex;
    align-items:center;
    background: rgb(8, 130, 114);
    flex-direction:column;
    justify-content:flex-end;
    font-family: 'Inconsolata', monospace;
}

/* radial gradient for background? */

#calculator {
   display: flex;
   flex-direction:column;
    width:40vh;
    min-height:400px;
    min-width:250px;
    height:60vh;
    background: rgb(120, 82, 149);
    border: 4px solid black;
    border-radius: 20px;
    font-size:30px;

.button {
    outline: 3px solid black;
    border-radius: 10px;
    background-color:rgb(151, 151, 151);
    color: white;
    box-shadow: 3px 3px 2px black ;
}

.button:hover {
    background-color:rgb(107, 107, 107);
}

#buttonPanel{
    flex-grow:3;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap:15px;
    padding:15px;
}

#clearButton,
#zeroButton {
grid-column:span 2;
}
#clearButton {
    background-color:rgb(231, 135, 26);
}
#clearButton:hover,
#equalButton:hover {
    background-color:rgb(183, 108, 24);
}

#divideButton,
#multiplyButton,
#subtractButton,
#addButton {
    background-color:rgb(115, 115, 115);
}


#divideButton:hover,
#multiplyButton:hover,
#subtractButton:hover,
#addButton:hover {
    background-color:rgb(82, 82, 82);

}


#equalButton {
    grid-row:span 2;
    background-color:rgb(231, 135, 26);

}

#lowerSection {
    display:flex;
    flex-grow:3;
    flex-shrink:1;
}

#upperSection {
    background: rgb(98, 191, 209);
    margin: 10px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:flex-end;
    flex-grow: 1;
    padding-right:15px;
    outline: 3px solid black;
    opacity: .8;
}

#upperText {
    font-size:20px;
}



.button {
    display:flex;
    justify-content:center;
    align-items:center;
}
