body {
    display: flex;
    align-items:center;
    background: rgb(8, 130, 114);
    flex-direction:column;

    justify-content:flex-end;
}

#footer {
    ;
}

#calculator {
   display: flex;
   flex-direction:column;
    width:40vh;
    min-height:400px;
    min-width:250px;
    height:60vh;
    background: rgb(166, 108, 210);
    border: 2px solid black;
    border-radius: 20px;
    
    font-size:30px;
}

.button {
    outline: 2px solid black;
}



#buttonPanel{
    flex-grow:3;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap:15px;
    padding:15px;

}

#clearButton,
#zeroButton {
grid-column:span 2;
}

#equalButton {
    grid-row:span 2;
}

#lowerSection {
    display:flex;
    flex-grow:3;
    flex-shrink:1;
}

#upperSection {
    background: rgb(98, 191, 209);
    margin: 10px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:flex-end;
    flex-grow: 1;
    padding-right:15px;
}

#upperText {
    font-size:20px;
}



.button {
    display:flex;
    justify-content:center;
    align-items:center;
}

#zeroButton {
    border-bottom-left-radius:20px;
}

#equalButton {
    border-bottom-right-radius:20px;
}