body {
    display: flex;
    justify-content: center;
    background: rgb(8, 130, 114);

}

#calculator {

   display: flex;
   flex-direction:column;
    width:40vh;
    height:60vh;
    margin-top:20vh;
    background: rgb(166, 108, 210);
    border: 2px solid black;
    border-radius: 20px;
}

.button {
    outline: 2px solid black;
}



#operandSection{
    flex-grow:2;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}
#clearButton,
#zeroButton {
grid-column:span 2;
}

#equalButton {
    grid-row:span 2;
}

#upperSection {
    background: rgb(98, 191, 209);
    margin: 10px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:flex-end;
    flex-grow: 1;
    
}

.button {
    display:flex;
    justify-content:center;
    align-items:center;
}

#zeroButton {
    border-bottom-left-radius:20px;
}

#equalButton {
    border-bottom-right-radius:20px;
}